html,
body {
  height: 100%;
}
nav {
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  margin-bottom: 2em;
  z-index: 1;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #151515;
  color: darkcyan;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #7e191b;
  color: #151515;
}

li:last-child {
  border-right: none;
  background-color: grey;
  color: #151515;
}

a:active {
  background-color: grey;
}

.title-text {
  /* background-color: #0080ff; */
  color: #151515;
  padding: 1em;
}
.title-text h1 {
  background-color: antiquewhite;
  opacity: 0.9;
  padding: 1em;
  margin-top: 1em;
  width: auto;
}

.bg {
  background-image: url("../img/bkg.jpg");
  height: auto;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
footer {
  background-color: #151515;
  bottom: 0;
  position: relative;
  width: 100%;
  color: antiquewhite;
}
.text-block {
  color: #151515;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.3em;
}

.cuisine-tags {
  text-align: center;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 0.7em;
  width: auto;
  padding: 0.7em;
}
.cuisine-item {
  display: inline-block;
}

.cuisine-item img {
  height: 100px;
  border-radius: 0.7em;
  border: burlywood;
  border-style: solid;
  border-width: 5px;
  margin: 0.7em;
}


/* STOLEN STYLING */
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
/* END STOLEN STYLINGs */

.menu-content{
  display: block;
  text-align: center;
  
}
.left-buttons{

 height: 80%;
  width: 10%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 3em;
  /* padding: 3em; */
}
.left-buttons button{
  background-color: #7e191b;
  padding: 1em;
  width: 70%;

}
.menu-item{
  display: inline;
}
.menu-item{
  display: inline-block;
  width: 70%;
  right: 0;
}
.menu-item img{
  height: 200px
}
.food-items{
  display: inline-block;
}
.item{
  display: inline-block;
}
.arrangement{
  text-align: center;
}
.col4{
  width: 20%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  height: 60%;
  padding: 1em;
  border-radius: .7em;


}
