body{
    background-color : #7e191b;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151515;
    color: darkcyan;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #7e191b;
    color: #151515;
  }

  li:last-child {
    border-right: none;
    background-color: grey;
    color: #151515;
  }


  a:active {
    background-color: grey;
  }
  .title-text{
      background-color: #0080ff;
      color: #151515;
      padding: 1em;
  }
  .title-text h1{
      background-color: skyblue;
      padding: 1em;
  }
  #slideshow img{
    height: 100%;
    display: none;

  }
  #slideshow img:first-child{
    display: block;
  }